/* 標題==================== */
.heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #fec2ca65;
}

.heading span {
    color: #E79686;
    font-size: 2.6rem;
}

/* 內文 */
/* 品牌故事 */
.section-story {
    width: 100%;
}

.story-container {
    width: 80%;
    margin: auto;
}

.story {
    width: 60%;
    margin: auto;
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 5px;
}

.story .pic {
    width: 40%;

}

.story .story-box {
    position: absolute;
    top: 20%;
    right: 80%;
    width: 30%;
    height: 70%;
    background-color: #CDBBA7;
    ;
    z-index: -1;
}

.story .pic img {
    width: 100%;
    border-radius: 5px;
}

.story .story-text {
    width: 50%;
}

.story .story-text h2,
.story .story-text h4 {
    font-weight: 600;
    text-align: center;
}

.story .story-text h2 {
    margin-top: 1rem;
    font-size: 24px;
    letter-spacing: 0.3rem;
}

.story .story-text h4 {
    padding-bottom: 30px;
}

.story .story-text p {
    line-height: 1.7;
    font-size: 1.3rem;
}

/* 我們的團隊 */
.section-teams {
    width: 100%;
    background-color: #EFE2D9;
}

.teams-container {
    width: 80%;
    margin: auto;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding: 30px 0px 60px 0px;
}

.teams-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-card {
    width: 30%;
    padding: 0 20px;
}

.member-pic img {
    width: 100%;
    height: 250px;
    border-radius: 100px 100px 0px 0px;
    object-fit: cover;
    object-position: center center
}

.member-info {
    background-color: #ffffff87;
    font-family: 'NotoSerif-DisplayRegular';
    padding: 10px 20px;
}

.member-info p {
    line-height: 1.7;
    font-size: 1.3rem;
}


.teams-container h2,
.teams-container h4 {
    font-weight: 600;
    text-align: center;
}

.teams-container h2 {
    font-size: 24px;
    letter-spacing: 0.3rem;
}

.teams-container h4 {
    padding-bottom: 30px;
}

.teams-container .member-info h4 {
    padding: 10px;
    font-size: 20px;
}


/* 門市資訊 */
.section-shop {
    width: 100%;

}

.shop-container {
    width: 90%;
    margin: auto;
}

.shop {
    width: 60%;
    margin: auto;
    padding: 5% 0;
    display: flex;
    align-items: center;
    position: relative;
}

.shop-info {
    margin-right: 10%;
    z-index: -1;
}

.info-title {
    background-image: url(/img/about-title-bgc.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center -28px;
    width: 100%;
    height: 100px;
}

.shop .pic {
    width: 33%;
    right: -32%;
    top: -5%;
    position: absolute;
    background-color: brown;
    border-radius: 48%;
}

.shop .shop-box {
    position: absolute;
    top: 20%;
    right: 80%;
    width: 30%;
    height: 70%;
    background-color: #D2E3D9;
    z-index: -1;
}

.shop .pic img {
    width: 95%;
    border-radius: 50%;
}

.shop .shop-text {
    width: 50%;
}

.shop-info h2,
.shop-info h4 {
    font-weight: 600;
    text-align: center;
}

.shop-info h2 {

    font-size: 24px;
    letter-spacing: 0.3rem;
}

.shop-info h4 {
    padding-bottom: 30px;
}

.shop-info p {
    text-align: center;
    font-family: 'NotoSerif-DisplayRegular';
    padding: 10px 10px;
    line-height: 1.7;
    font-size: 1.3rem;
}

.shop-googleMap {
    width: 300px;
    height: auto;
}

.shop-googleMap {
    width: 300px;
    height: 300px;
    background-color: black;
}

@media (max-width:768px) {
    .section {
        margin-bottom: 5%;
    }

    .story {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .story .story-box {
        border-radius: 5px;
        position: absolute;
        top: 20%;
        right: 0;
        width: 100%;
        height: 75%;
    }

    .story .pic {
        width: 75%;
    }

    .story .story-text {
        width: 100%;
        padding: 0 20px 20px 20px;
    }

    .teams-cards {
        display: flex;
        flex-direction: column;
    }

    .teams-card {
        width: 57%;
        padding: 10px 10px;
        margin: auto;

    }

    .shop {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
    }

    .shop .pic {
        display: none;
    }

    .shop-info {
        margin-right: 0;
    }
}

@media (max-width:450px) {
    .teams-card {
        width: 87%;
        padding: 10px 10px;
        margin: auto;

    }
}