/* 標題==================== */
.heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #fec2ca65;
}

.heading span {
    color: #E79686;
    font-size: 2.6rem;
}


/* 進度條 */
.progress-list {
    margin: auto;
    width: 70%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.progress-list ol {
    display: flex;
    justify-content: center;
}

.progress-list li {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: #E79686;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    box-shadow: 0px 0px 0px 0.4px #aaa;
}

.progress-list .fa {
    font-size: 60px;
    margin-bottom: 6px;
}

.progress-list li+li {
    margin-left: 100px;
}

.progress-list ol li+li::before {
    content: '';
    position: absolute;
    width: 8rem;
    height: 5%;
    z-index: -1px;
    background-color: #eca3b8;
    top: 0;
    bottom: 0;
    left: -100px;
    margin: auto;
}

.progress-list li.active~li {
    background-image: linear-gradient(9deg, #999, #ccc);
}

.progress-list li.active~li::before {
    background-color: #999;
}

/* 下單區 */
.cart-product-section {
    width: 100%;
    margin-top: 5%;
    font-family: Georgia, serif;
}

.cart-item .cart-detail h2 {
    font-size: 1.5rem;
}

.cart-product {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-content {
    display: flex;
}

.checkbtn {
    width: 15px;
    height: 15px;

}

.addmem {
    padding: 10px 5px;
    background-color: #F4F3EF;
    font-size: 14px;
}

.addmem button {
    font-size: 1rem;
    margin-left: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-right: 1rem;
}

.addmem button:hover {
    background-color: #E79686;
    transition: 0.5s;
}


.check-top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cart-item {
    width: 100%;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    background-color: #fff;
    padding: 10px 0;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}


.cart-detail {
    width: 45%;
    height: 100%;
    margin-left: 40px;
    font-size: 20px;
    line-height: 50px;
}

.item-img {
    width: 20%;
    margin-left: 30px;
}

.item-img img {
    width: 100%;
    border-radius: 5px;
    vertical-align: middle;
}


.text {
    margin: 10px 0 0 0px;
}

.text a {
    color: #2B2B2B;
    text-decoration-color: #f000;
    transition: .5s;
}


.cart-detail .cart-btn {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* 尺寸 */
.cart-btn select {
    width: 30%;
    height: 100%;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #333;
    padding: 5px;
    margin-bottom: 20px;
}

@media (max-width:768px) {
    .cart-btn select {
        width: 100%;
        /* padding: .5rem; */
    }
}

.cart-btn select:hover {
    border: 1px solid #E79686;
}

.cart-btn option {
    width: 30%;
    font-size: 1.2rem;
    display: inline-block;
    padding: 50px;
    margin-bottom: 50px;
}

/* 數量按鈕 */
.btn-count {
    width: 30%;
    height: 100%;
    display: flex;
    margin-bottom: 20px;
}

.btn-count input {
    border-width: 1px 0;
    border-style: solid;
    border-color: #ccc;
    outline: none;
    width: 50%;
    font-size: 20px;
    color: #2B2B2B;
    text-align: center;
}

.btn-count input:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-count input:nth-child(3) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



.btn-count input:nth-child(1),
.btn-count input:nth-child(3) {
    border: none;
    outline: none;
    width: 50%;
    font-size: 20px;
    color: #2B2B2B;
    text-align: center;
    background-color: #c4c4c4;
}

.btn-count input:nth-child(1):hover,
.btn-count input:nth-child(3):hover {
    border: none;
    outline: none;
    width: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #E79686;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 垃圾桶*/
.btn-trash a {
    font-size: 2rem;
    color: #2B2B2B;
}

.btn-trash a:hover {
    color: #E79686;
}


/* 取貨資料 結帳*/
.order-section {
    width: 80%;
    max-width: 1200px;
    margin: 0 10%;
    display: flex;
    position: relative;
    font-size: 1.5rem;
    outline: 1px;
    border: 1px solid #C4C4C4;
    text-align: center;
}

.order-container {
    width: 50%;
    padding: 10px;

}

.order-delivery select {
    width: 100%;
    height: 30px;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #333;
    margin-bottom: 10px;
}

.order-delivery h4 {
    background-color: #F4F3EF;
    width: 100%;
}

.calendar-container {
    width: 100%;
    height: 30px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #333;
    margin-bottom: 20px;
    padding-left: 10px;
}

.order-container h4 {
    background-color: #F4F3EF;
    font-size: 18px;
    padding: 12px;
    margin-bottom: 20px;
}

.buy-info {
    text-align: start;
}

.buy-info form input,
.buy-info form textarea {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-left: 10px;
}

.buy-info form input:hover,
.buy-info form textarea:hover {
    border: 1.5px solid #E79686;
}

.receiver-info {
    text-align: start;
}

.receiver-input {
    width: 100%;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-left: 10px;
}

.receiver-input:hover {
    border: 1.5px solid #E79686;
}

input::placeholder {
    color: #bcbaba;
    font-style: italic;
}

.buy-info .cash {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.buy-info .cash input {
    margin: 0 10px;
    width: 25px;
}


/* 商品總計 */
.calculation {
    width: 40%;
    border: 1px solid #C4C4C4;
    font-family: Georgia, serif;
    font-size: 1.7rem;

}

.calculate {
    width: 100%;
    margin: 5% 0 0 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}


.card {
    padding: 0px 35px 0px 35px;
    margin: 0 10px 50px 10px;
    display: flex;
    justify-content: space-between;
}

.card:last-child {
    border-top: 1px solid #aaa;
    padding-top: 50px;
    margin-bottom: 50px;
}


.receiver-same {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.receiver-label {
    color: #e14121;
    font-size: 1.3rem;
}

.to-pay {
    width: 80%;
    margin: 3% auto;
}

.btn-pay input {
    margin: auto;
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    align-items: center;
    transition: .2s linear;
}

.btn-pay input:hover {
    background-color: #E79686;
    border-radius: 15px;
    transition: .2s linear;
}

@media(max-width: 768px) {
    .order-section {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .order-container {
        width: 100%;
    }


    .progress-list {
        display: none;
    }

    .cart-btn select {
        width: 30%;
        padding: .5rem;
    }

    .cart-content {
        display: flex;
        flex-direction: column;
    }

    .cart-item .cart-detail h2 {
        font-size: 1.5rem;
    }

    .calculation {
        width: 100%;

    }
}

@media(max-width: 450px) {

    .cart-item .cart-detail h2 {
        font-size: 1.2rem;
    }

    .cart-detail {
        margin-left: 20px;
    }

    .item-img {
        width: 50%;
        margin-left: 10px;
    }

    .calculation {
        width: 100%;
        margin: 10px 0;
        text-align: centers;
    }

    .cart-btn {
        display: flex;
        flex-direction: column;
    }

    .btn-count {
        width: 100%;
    }

    .btn-count input:nth-child(1),
    .btn-count input:nth-child(3) {
        width: 20%;
    }

    .btn-count input:nth-child(1):hover,
    .btn-count input:nth-child(3):hover {
        width: 20%;
    }

    .cart-btn select {
        width: 40%;
        height: 30px;
        font-size: 1rem;
    }

    .btn-trash a {
        font-size: 1.7rem;
    }

    .buy-info .cash {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }

    .cart-detail span {
        font-size: 1.3rem;
    }

    .to-pay {
        width: 100%;
        margin: 10% auto;
    }

    .btn-pay input {
        width: 40%;
    }
}