.contact-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.contact-container {
    width: 80%;
    margin: 5% 0;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
}

.contact-content {
    display: flex;
    align-content: space-between;
    justify-content: center;
}

.contact-content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    position: relative;
}

.contact-content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 10%;
    transform: translate(-50%);
    background-color: #b2b2b2;
}

.contact-content .left-side .details {
    margin: 14px;
    text-align: center;
}

.contact-content .left-side .details i {
    font-size: 30px;
    color: #E79686;
}

.contact-content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact-content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact-content .left-side .details .text-one {
    font-size: 16px;
    color: #afafb6;
    font-family: 'NotoSerif-DisplayRegular';
}

.contact-content .right-side {
    width: 85%;
    margin-top: 3%;
    margin-left: 75px;
    height: 100%;
}

.contact-content .right-side .topic-text {
    margin-bottom: 5px;
    letter-spacing: 1.3px;
    font-size: 20px;
    font-weight: 600;
    color: #E79686;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f0f1f8;
}

.right-side .input-box input {
    padding: 0 15px;
}

.right-side .input-box textarea {
    padding: 10px 15px;
}

.right-side.message-box {
    min-height: 110px;
    margin-top: 6px;
}

.right-side .contact-button {
    display: inline-block;
    margin-top: 22px;
}

.right-side .contact-button input[type="button"] {
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    background-color: #E79686;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-button input[type="button"]:hover {
    background-color: #f3694e;
}

@media (max-width:768px) {
    .contact-container {
        width: 80%;
        padding: 30px 35px 40px 35px;
    }
}

@media (max-width:450px) {
    .contact-container {
        margin: 40px 0;
        height: 100%;
    }

    .contact-content {
        flex-direction: column-reverse;

    }

    .contact-content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-content .left-side::before {
        display: none;
    }

    .contact-content .right-side {
        width: 100%;
        margin-left: -10px
    }
}