/* 視覺圖---------------------------- */
.banner-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    position: relative;

}

.banner-container img {
    width: 95%;
}

.banner-slogan {
    position: absolute;
    top: 30%;
    right: 90px;
    text-align: right;
}

.banner-slogan p:first-child {
    color: white;
    font-size: 4vw;
    letter-spacing: 0.2em;
    font-family: 'Oooh Baby', 'Noto Serif TC', serif;
    text-align: right;
}

.banner-slogan p {
    color: white;
    font-size: 3vw;
    font-family: 'Oooh Baby', 'Noto Serif TC', serif;
}

/* 視覺圖上的按鈕 */
.banner-btn {
    position: absolute;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 15px 20px;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    right: 30px;
}

.banner-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
}

.banner-btn span {
    position: relative;
    z-index: 1;

}

.banner-btn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.banner-btn:hover:before {
    width: 100%;
    background: #FFAB9D;
}

.banner-btn:hover svg {
    transform: translateX(0);
}

.banner-btn:hover,
.banner-btn:focus {
    color: #fff;
}

.banner-btn:active {
    color: #fff;
    transform: scale(0.96);
}

/* 簡介 -------------------*/
.intro {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.intro-container {
    width: 80%;
}

.intro-card {
    position: relative;
    margin: 200px 0;
    height: 250px;
    background-color: rgba(234, 234, 234, 0.7);
    border-radius: 30px;

}

.intro-title,
.intro-content {
    text-align: center;
    /* 字元間距 */
    letter-spacing: 0.1em;
    padding: 20px 0;
}

.intro-title {
    font-size: 30px;
}

.intro-content {
    font-size: 18px;
    padding: 0 300px;

}

.intro-img1 {
    width: 20%;
    height: 20%;
    position: absolute;
    transform: rotate(10deg) scale(1, 1);
    overflow: hidden;
    top: 80px;
    left: 800px;

}

.intro-img1 img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro-img2 {
    width: 200px;
    height: 203px;
    position: absolute;
    transform: rotate(10deg) scale(1, 1);
    overflow: hidden;
    bottom: 200px;
}

.intro-img2 img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro-img3 {
    width: 200px;
    height: 203px;
    position: absolute;
    overflow: hidden;
    left: 800px;
    bottom: 100px;
}

.intro-img3 img {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* 最新消息 */
.news-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5% 0;
}

.news-container {
    width: 52%;
    transform: rotate(5deg);
    border-radius: 50%;
    height: 300px;
    background-color: #FFAB9D;
}

/* slider */
.swiper {
    width: 90%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-4.5deg);
}

.swiper-slide .slide-info {
    padding: 20px 0;
    background-color: #dfdfdf;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: black;
}