* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 80%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 2.3rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #fec2ca65;
    /* background-image: url(/img/indextitle-bgc.png);
    background-position: center center;
    background-size: cover; */
}

.heading span {
    color: #E79686;
}

.index-btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3rem;
    background-color: #333;
    color: #fff;
    padding: .8rem 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    ;
}

.index-btn:hover {
    background: #E79686;
}

.banner-section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(img/banner01.jpg);
}

.banner-content {
    max-width: 50rem;
}

.banner-content h3 {
    font-size: 3.5rem;
    font-family: 'NotoSerif-DisplayRegular', sans-serif;
    color: #fff;
}

.banner-content span {
    font-size: 4rem;
    letter-spacing: 3px;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;
}

.banner-content p {
    font-size: 1.7rem;
    color: #ffcbcb;
    padding: 1rem 0;
    line-height: 1.5;
}

/* 最新活動 */

.news-section .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.news-section .row .video-container {
    position: relative;
    flex: 1 1 30rem;
}

.news-section .row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.news-section .row .video-container h3 {
    position: absolute;
    top: 50%;
    font-weight: 1000;
    transform: translateY(-50%);
    font-size: 2rem;
    background: #ffffffe4;
    width: 100%;
    padding: 0.5rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.news-section .row .news-content {
    flex: 1 1 30rem;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.news-section .row .news-content h3 {
    font-size: 1.5rem;
    color: #333;
}

.item-list {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    counter-reset: num;
    /* padding: 1rem; */
}

.item {
    width: 420px;
    padding: 14px 0 0 0px;
    margin: 7px;
    position: relative;
    padding-left: 40px;
}

.item a {
    color: #666;
    text-decoration: none;
}

.item::before {
    content: '1';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 52px;
    counter-increment: num;
    content: counter(num);
}

.item::after {
    content: '';
    position: absolute;
    height: 2px;
    right: 0;
    left: 40px;
    bottom: -10px;
    border-bottom: 2px dashed #E79686;
}

.item:nth-child(1) {
    order: 1;
}

.item:nth-child(2) {
    order: 2;
}

.item:nth-child(3) {
    order: 3;
}

.item:nth-child(4) {
    order: 4;
}

.news-content-btn {

    align-self: flex-end;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 5rem;
    background-color: #333;
    color: #fff;
    padding: .8rem 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    margin-right: 2%;
}

.news-content-btn:hover {
    background-color: #E79686;
}


.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 20rem;
}

.icons-container .icons img {
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3 {
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.4rem;
}

.icons-container .icons span {
    color: #555;
    font-size: 1.2rem;
}

@media (min-width:1200px) {
    .icons-container {
        background: #eee;
        display: flex;
        flex-wrap: nowrap;
        gap: 1.5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .icons-container .icons {
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        padding: 1rem;
        display: flex;
        align-items: center;
        flex: 1 1 20rem;
    }

}


/* 熱賣商品 */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    border-radius: 3%;
    width: 100%;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


/* 選擇我們的理由 */
.choice-wrap {
    /* width: 1200px; */
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/img/choice-bgc.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
}

.choice-item {
    display: flex;
    width: 75%;
    align-items: center;
    margin-bottom: 20px;
}

.choice-item h2 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.3rem;

}

.choice-item p {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1.5rem;

}

.choice-item .choice-pic {
    width: 50%;
    flex-shrink: 0;
}

.choice-item .choice-pic img {
    width: 100%;
    vertical-align: middle;
}

.choice-item .choice-txt {
    width: 50%;
    background-color: #c9c6b3;
    flex-shrink: 0;
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.choice-item>:first-child {
    margin-right: -10%;
}

.choice-item:nth-child(1) .choice-txt {
    background-color: #50595c86;
    color: #dfdfdf;
}

.choice-item:nth-child(2) .choice-txt {
    background-color: #ffd8d894;
}

.choice-item:nth-child(3) .choice-txt {
    background-color: #50595c86;
    color: #dfdfdf;
}

.choice-item:nth-child(4) .choice-txt {
    background-color: #ffd8d894;
}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }

    .banner-section {
        background-position: left;
    }

    .banner-content h3 {
        font-size: 5rem;
    }

    .banner-content span {
        font-size: 5rem;
    }
}



@media (max-width:768px) {

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .item::after {
        width: 90%;
    }

    .choice-wrap {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choice-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        background: #C9C6B3;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .choice-wrap .choice-item:nth-child(2),
    .choice-wrap .choice-item:nth-child(4) {
        flex-direction: column-reverse;
    }

    .choice-wrap .choice-item:nth-child(2) .choice-pic img,
    .choice-wrap .choice-item:nth-child(4) .choice-pic img {
        margin-left: 0px;
    }

    .choice-wrap .choice-item:nth-child(2) .choice-txt,
    .choice-wrap .choice-item:nth-child(4) .choice-txt {
        margin-right: 0px;
    }

    .choice-pic img:nth-child(1),
    .choice-pic img:nth-child(3) {
        margin-left: -32px;
    }


    .choice-item .choice-pic,
    .choice-item .choice-txt {
        width: 100%;
    }

    .choice-item .choice-txt {
        padding: 7px;
    }

    .choice-txt h2 {
        font-size: 1.4rem;
    }

    .choice-txt p {
        font-size: 1.3rem;

    }

}


@media (max-width:450px) {
    html {
        font-size: 50%;
    }


    .banner-section {
        background-position: center;
    }

    .banner-content span {
        font-size: 3rem;
    }

    .banner-content p {
        font-weight: 500;
        font-size: 1.3rem;
    }


    .heading h1 {
        font-size: 3rem;
    }

    .news-section .row .news-content {
        padding-left: 0;
        width: 10%;
    }

    .item::after {
        width: 80%;
    }

    .news-content-btn {
        width: 50%;
    }

    .choice-wrap {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choice-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        background: #C9C6B3;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .choice-wrap .choice-item:nth-child(2),
    .choice-wrap .choice-item:nth-child(4) {
        flex-direction: column-reverse;
    }

    .choice-wrap .choice-item:nth-child(2) .choice-pic img,
    .choice-wrap .choice-item:nth-child(4) .choice-pic img {
        margin-left: 0px;
    }

    .choice-wrap .choice-item:nth-child(2) .choice-txt,
    .choice-wrap .choice-item:nth-child(4) .choice-txt {
        margin-right: 0px;
    }

    .choice-pic img:nth-child(1),
    .choice-pic img:nth-child(3) {
        margin-left: -14px;
    }


    .choice-item .choice-pic,
    .choice-item .choice-txt {
        width: 100%;
    }

    .choice-item .choice-txt {
        padding: 7px;
    }

    .choice-txt h2 {
        font-size: 1.4rem;
    }

    .choice-txt p {
        font-size: 1.3rem;

    }
}