.wrapper {
    position: fixed;
    z-index: 999;
    width: 400px;
    height: 460px;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    background-color: transparent;
    border-radius: 0.5rem;
    border: 2px solid rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    font-family: 'Nunito Sans', 'Noto Serif TC', sans-serif;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, height .2s ease;
    transform: scale(0);
}

@media (max-width:768px) {}



@media (max-width:450px) {
    .wrapper {
        width: 350px;
        /* background-image: linear-gradient(to bottom, #FFCBCB, #FFFFFF); */
    }
}

.wrapper.active-popup {
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1);
}

.wrapper .form-box-login,
.wrapper .form-box-register {
    width: 80%;
    padding: 40px;
}

.wrapper.active {
    height: 550px;
}

.wrapper .form-box-login {
    transition: transform .5s ease;
    transform: translateX(0);
}

.wrapper.active .form-box-login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box-register {
    position: absolute;
    transition: none;
    transform: translate(400px);
}

.wrapper.active .form-box-register {
    transition: transform .5s ease;
    transform: translateX(0);
}


.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.form-box-login h2,
.form-box-register h2 {
    padding-top: 27px;
    font-size: 2em;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.wrapper .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-120%);
    font-size: 1.5em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    /* transition: .5s; */
}


/* .input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
} */

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 5px 35px 0 5px;
}


.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
    color: #162938;
}

.remember-forgot {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a :hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #2b2b2b;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    letter-spacing: .5rem;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #E79686;
}

.login-register {
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    padding: 0 5px;
    color: #E79686;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* ---- */

.other-login-way {
    padding-top: 8px;
}

.other-login-way h4::before {
    content: "";
    display: inline-block;
    width: 4rem;
    height: 1px;
    background-color: #ddd;
    position: relative;
    top: -5px;
    right: 10px;
}

.other-login-way h4 {
    margin-bottom: 10px;
    text-align: center;
}

.other-login-way h4::after {
    content: "";
    display: inline-block;
    width: 4rem;
    height: 1px;
    background-color: #ddd;
    position: relative;
    top: -5px;
    right: -10px;
}

.social-web {
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: center;

}

.social-web img {
    width: 2.5rem;
}