#menu-switch {
    display: none;
}

/* 導覽列 ---------------------*/
.main-header {
    /* position: relative; */
    width: 100%;
    /* z-index: 1; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px #645a5a;
}

@media screen and (max-width: 767px) {
    .nav-container {
        display: flex;
        position: relative;
        justify-content: space-between;
    }
}

/* -------------------- */
.nav-container .hb {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #888;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-container .hb span {
    width: 80%;
    height: 2px;
    background-color: #fff;
}

#menu-switch:checked~.nav-container .hb {
    background-color: #E79686;
}

@media screen and (min-width: 768px) {
    .nav-container .hb {
        display: none;
    }
}

/* -------------------- */
@media screen and (max-width: 767px) {
    .nav-container .main-nav {
        display: none;
        position: absolute;
        background-color: #E79686;
        top: 100%;
        right: 0;
        width: 50%;
        z-index: 1;
    }
}

@media screen and (min-width: 768px) {
    .nav-container .main-nav {
        display: flex;
    }
}

.nav-container .main-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0c0c0c;
    font-size: 18px;
}

.nav-container .main-nav a:hover {
    color: #000000;
}


@media screen and (max-width: 767px) {
    .nav-container .main-nav a {
        color: #fff;
    }
}

@media screen and (max-width: 767px) {
    .nav-container .main-nav a+a {
        border-top: 1px solid #fff;
    }

    #menu-switch:checked~.nav-container .main-nav {
        display: block;

    }
}

.nav-logo {
    width: 19%;
    padding: 10px 0 0px 20px;
}

.nav-logo img {
    width: 100%;
}

/* --------------------- */
.nav-icon form {
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: #131313 1px solid;
    padding: 5px 10px;
}

.nav-icon form input,
.nav-icon form button {
    border: none;
    background-color: transparent;
    color: #ffffffa0;
    text-decoration: none;
    position: relative;
}

.nav-icon form input {
    width: 130px;
    color: #2B2B2B;
}

.nav-icon form button {
    width: 20px;
}

.nav-icon form input:focus,
.nav-icon form button:focus {
    outline: none;
}


.nav-icon {
    display: flex;
    align-items: center;
    gap: 6%;
    margin-right: 50px;
    position: absolute;
    right: 10px;

}

@media screen and (max-width: 767px) {
    .nav-icon {
        margin-right: 80px;
    }
}

.nav-icon i {
    color: #2B2B2B;
    margin-right: 10px;
}

.nav-icon i:hover {
    color: #E79686;
    margin-right: 10px;
}

.btnLogin-popup {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.banners {
    width: 80%;
    height: 120px;
    background: url(./img/banners.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-left: 100%;
    border-radius: 0 0 0 10px;


}


/* footer------------------------------------- */

.footer-section {
    background-color: #E79686;
    color: #fff;
}

.footer-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;

}

.footer-contact {
    justify-content: center;
    align-items: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff2f;
}

.footer-contact span {
    font-size: 2rem;
    font-weight: 400;
}

.footer-contact img {
    width: 15%;
}

.footer-container .footer-box {
    /* flex: 1 1 25rem; */
    display: inline-block;
}

.footer-container .footer-box h3 {
    font-size: 1.3rem;
    padding: 1rem 0;
}

.footer-box a {
    display: block;
    color: #666;
    font-size: 1rem;
    padding: 1rem 0;
    font-family: Georgia, serif;
}

.footer-box a:hover {
    color: var(--pink);
    text-decoration: underline;
}


.to-top a {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 50px;
    bottom: 20px;
    right: 10px;
    color: #2B2B2B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-color: #f000;
    position: fixed;
    transition: .5s;
    /* background-color: #fff; */

    @media (width <=768px) {
        width: 50px;
        height: 50px;
    }
}

.to-top a i {
    font-size: 25px;
    color: #555;

    @media (width <=768px) {
        font-size: 20px;
    }
}

.to-top a:hover {
    border-radius: 30px;
    background-color: #2B2B2B;

    @media (width <=768px) {
        border-radius: 50px;
        background-color: #fff;
    }
}

.to-top a:hover i {
    color: #aaa;
}

.copyright {
    font-size: 14px;
    text-align: center;
    width: 600px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    top: 130px;
    align-self: center;
    display: flex;
    line-height: 1.5;
}

.footer-section .credit {
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;
    font-size: 1rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);

}

.footer-section .credit span {
    color: var(--pink);
}

@media (max-width:991px) {
    .footer-container {
        gap: 7rem;
    }

    .footer-contact span {
        font-size: 2rem;
    }
}

@media (max-width:768px) {
    .footer-container {
        gap: 1.5rem;
    }

    .footer-contact span {
        font-size: 1.5rem;
    }

}

@media (max-width:568px) {
    .footer-container {
        gap: 1rem;
    }

    .footer-contact span {
        font-size: 1.2rem;
    }

}

@media (max-width:450px) {
    .footer-container {
        gap: 0.5rem;
    }

    .footer-contact span {
        font-size: 14px;
    }
}