/* 標題==================== */
.heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #fec2ca65;
}

.heading span {
    color: #E79686;
    font-size: 2.6rem;
}

/* <!-- 商品總覽側邊選單------------------> */
.products-side-menu {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    flex-wrap: wrap;
}

.products-nav a {
    display: block;
    padding: 10px;
    color: #2B2B2B;
    text-decoration: none;
    position: relative;
}

.products-nav a:first-child {
    position: relative;
    left: 23px;
    display: block;
    padding: 10px;
    color: #2B2B2B;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
}


.products-nav a+a::before {
    content: '';
    border-top: 0.5px solid #2b2b2b81;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 58px;
}

.products-nav a img {
    margin-right: -1.1em;
    transform: scale(0);
    transition: 0.3s;
}

.products-nav a:hover img {
    margin-right: 0em;
    transform: scale(1);
}

.products-side-menu span {
    position: absolute;
    font-size: 1.3rem;
    left: 4em;
    top: 40%;
}

/* 商品列表--------------------- */

.section-products {
    padding: 50px 0 50px;
    width: 100%;
}

.products-container {
    width: 80%;
    margin: auto;
    display: flex;
}


.card-items {
    width: 75%;
    padding: 90px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-item {
    width: 250px;
    padding: 30px 10px 5px 10px;
    border: solid 0.5px rgba(183, 183, 183, 1);
    margin-bottom: 50px;
}

.item-img {
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.item-img img {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    transform: scale(1, 1);
    transition: all .5s ease-out;
}

.item-img img:hover {
    transform: scale(1.1);
}

/* ===== */

.item-img .icons {
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
}

.item-img:hover .icons {
    bottom: 0;
    transform: scale(1);
}

.item-img .icons a {
    background: #ffffff52;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    width: 50%;
    color: #333;
    text-decoration: none;
}

.item-img .icons a.liked {
    color: #E79686;
}

.item-img .icons .cart-btn {
    border-left: .1rem solid rgba(252, 252, 252, 0.963);
    border-right: .1rem solid #fff7;
    width: 100%;
}

/* 
.item-img .icons a:hover,
.fa-cart-shopping:hover {
    color: #E79686;
    transform: scale(1);
    transition: transform 0.3s ease;
} */

.fa-cart-shopping {
    font-size: 1.6rem;
}

/* ========== */
.order-box {
    width: 25%;
}

.item-text {
    justify-content: space-between;
    display: flex;
    border-top: 1px solid #aaa;
    padding: 10px 0 0 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #2B2B2B;
    line-height: 30px;
}

.item-text a {
    text-decoration-color: #f000;
    font-size: 16px;
    color: #2B2B2B;
    transition: .5s;
}

.item-text p {
    font-family: 'NotoSerif-DisplayRegular';
}

.item-text a:hover {
    text-decoration-color: #aaa;
}

.item-text span {
    font-size: 1.1em;
}

.item-text span:hover {
    text-decoration: #2B2B2B underline;
}

@media (max-width:450px) {
    .products-side-menu {
        display: none;
    }

    .products-container {
        flex-direction: column;
        margin: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}