/* 標題 */
/* .news-title-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    position: relative;
    /* position: relative; */
/* flex-wrap: wrap; */
/* } */

.news-title span {
    font-size: 35px;
}

.news-title h2 {
    font-size: 35px;
}

.news-title h2::after {
    width: 100%;
    content: "";
    border-bottom: 0.5px solid #2B2B2B;
    position: absolute;
    left: 0px;
    right: 0px;
}

.heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #fec2ca65;
}

/* <!-- 商品總覽側邊選單------------------> */
.products-side-menu {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    flex-wrap: wrap;
}

.products-nav a {
    display: block;
    padding: 10px;
    color: #2B2B2B;
    text-decoration: none;
    position: relative;
}

.products-nav a:first-child {
    position: relative;
    left: 23px;
    display: block;
    padding: 10px;
    color: #2B2B2B;
    text-decoration: none;
    font-weight: 500;
}


.products-nav a+a::before {
    content: '';
    border-top: 0.5px solid #2b2b2b81;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 58px;
}

.products-nav a img {
    margin-right: -1.1em;
    transform: scale(0);
    transition: 0.3s;
}

.products-nav a:hover img {
    margin-right: 0em;
    transform: scale(1);
}





.products-side-menu span {
    position: absolute;
    left: 4em;
    top: 40%;
}

/* 商品列表--------------------- */

.section-products {
    padding: 50px 0 50px;
    width: 100%;
}

.products-container {
    width: 80%;
    margin: auto;
    display: flex;
}


.card-items {
    width: 75%;
    padding: 90px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-top: 30px; */
    /* background-color: #070; */
}

.card-item {
    width: 29%;
    padding: 50px 10px 5px 10px;
    border: solid 0.5px rgba(183, 183, 183, 1);
    margin-bottom: 50px;
    /* background-color: #faa; */
    /* 
    @media (width <=768px) {
        width: 45%;
        margin-bottom: 30px;
    } */
}

.item-img {
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
}

.item-img img {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    transform: scale(1, 1);
    transition: all .5s ease-out;
}

.item-img img:hover {
    transform: scale(1.1);
}

.item-text {
    justify-content: space-between;
    display: flex;
    border-top: 1px solid #aaa;
    padding: 10px 0 0 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #2B2B2B;
    line-height: 30px;

    /* 
    @media (width <=1200px) {
        font-size: clamp(16px, 1.5vw, 18px);
        line-height: 20px;
    } */
}

.item-text a {
    text-decoration-color: #f000;
    font-size: 16px;
    color: #2B2B2B;
    transition: .5s;

    /* @media (width <=1200px) {
        font-size: clamp(16px, 1.5vw, 18px);
    } */
}

.item-text p {
    font-family: 'NotoSerif-DisplayRegular';
}

.item-text a:hover {
    text-decoration-color: #aaa;
}

.item-text span {
    font-size: 1.1em;
}